# This workflow will do a clean install of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Build & Test

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review
    paths-ignore:
      - '**.md'
      - '.vscode/**'

jobs:
  build-test:
    runs-on: ubuntu-latest
    permissions:
      # Give the default GITHUB_TOKEN write permission to commit and push the changed files back to the repository.
      contents: write
    if: ${{ !github.event.pull_request.draft }}
    steps:
      - uses: actions/checkout@v5

      - uses: pnpm/action-setup@v4

      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '24.x'
          cache: 'pnpm'

      - name: Install packages
        run: pnpm install

      - name: ESLint
        if: github.base_ref == 'main'
        run: pnpm lint:fix

      - name: Biome Check
        if: github.base_ref == 'main'
        run: pnpm check

      - name: StyleLint
        if: github.base_ref == 'main'
        run: pnpm lint-css:fix

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v6

      - name: Build
        run: pnpm run build

  cypress-test:
    runs-on: ubuntu-latest
    if: ${{ !github.event.pull_request.draft }}
    steps:
      - uses: actions/checkout@v5

      - uses: pnpm/action-setup@v4

      - run: pnpm install
      - run: pnpm cypress install

      - name: Cypress integration tests
        uses: cypress-io/github-action@v6
        with:
          install: false
          build: pnpm run build
          start: pnpm run serve
          wait-on: 'http://[::1]:5173'
          browser: chrome
          group: 'UI - Chrome'
          record: true
        env:
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # - if the event is push, the title will be undefined
          # and Cypress will get the commit message from Git information
          # - if the event is pull_request, then we set the commit
          # message to the pull request title
          COMMIT_INFO_MESSAGE: ${{ github.event.pull_request.title }}

      - name: Upload video and screenshots
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: cypress-screenshots
          path: cypress/screenshots

      - name: Cypress component tests
        uses: cypress-io/github-action@v6
        with:
          install: false
          component: true
          browser: chrome

  auto-merge:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    if: ${{ github.actor == 'dependabot[bot]' && github.event_name == 'pull_request' }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Wait for checks to pass
        uses: fountainhead/action-wait-for-check@v1.2.0
        id: wait-for-test
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          checkName: 'build-test'
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Wait for checks to pass
        uses: fountainhead/action-wait-for-check@v1.2.0
        id: wait-for-cypress
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          checkName: 'cypress-test'
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Merge PR
        if: ${{ steps.wait-for-test.outputs.conclusion == 'success' && steps.wait-for-cypress.outputs.conclusion == 'success' }}
        run: gh pr merge --auto --squash ${{ github.event.pull_request.html_url }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
